
#slideshow { margin: 0px auto; } 
#nav { z-index: 50; position: absolute; bottom: 10px; left: 35px }
#nav a { margin: 0 5px; padding: 3px 5px; border: 1px solid #ccc; background: #cff; text-decoration: none }
#nav a.activeSlide { background: #aaf }
#nav a:focus { outline: none; }

#banner-caption-title {
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
    display: block;
    font-family: 'Zurich Bold', 'Arial Narrow', Arial, Helvetica, Geneva, sans-serif;
    line-height: 21px;
    font-size: 20px;
}

#banner-caption-text {
    color: white;
    font-family: 'Zurich', 'Arial Narrow', Arial, Helvetica, Geneva, sans-serif;
    line-height: 17px;
    font-size: 16px;
    margin-top: 6px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

#banner-caption-link a {
    background-color: #BF5841;
    color: #ffb0ae;
    padding: 2px 4px;
    font-size: 14px;
}

#banner-caption {
    z-index: 80; 
    /* background: rgba(179, 0, 86, 0.7); */
    background: rgba(191, 88, 65, 0.7);
    width: 220px;
    height: 130px;
    color: white;
    padding: 3px 5px; 
    margin-left: 420px;
    margin-top: 100px;
    position: absolute; 
    bottom: 10px; left: 120px 

}
