<div id="banner">
  <div id="slideshow" class="pics">
    <div id="nav"></div>
    <img src="/images/banner-evento.png"
    	 title="Evento"
    	 text="Conference on Mathematical Modeling and Control of Communicable Diseases"
    	 link-title="Saiba mais"
    	 link-url="http://math-epidemics.emap.fgv.br"/> 
    <img src="/images/banner-transferencia.jpg"
    	 title="Edital de Transferência 2015.2"
    	 text="Inscrições Abertas."
    	 link-title="Saiba mais"
    	 link-url="/graduacao/apresentacao.html"/> 
    <img src="/images/banner-praia.jpg" 
	 title="Por que estudar matemática aplicada?"
	 text="Descubra por que esta é uma área interessante."
	 link-title="Leia mais"
	 link-url="/about/porque-estudar-matematica.html" />
    <div id="banner-caption">
      <h1 id="banner-caption-title"></h1>
      <p id="banner-caption-text"></p>
      <p id="banner-caption-link"></p>
    </div>
  </div>
</div>
