<div id="banner">
  <div id="slideshow" class="pics">
    <div id="nav"></div>
    <img src="/images/banner-vestibular.png" 
	 title="Vestibular em Matemática Aplicada"
	 text="Inscrições abertas até 29/09/2014." 
	 link-title="Saiba mais"
	 link-url="http://vestibular.fgv.br/cursos/curso-de-matematica-aplicada-rj"/>
    <img src="/images/banner-seminario.jpg"
    	 title="Seminários EMAp"
    	 text="Às quintas-feiras a partir das 16h."
    	 link-title="Confira o próximo tema"
    	 link-url="/seminars/index.html"/>
    <img src="/images/banner-sibgrapi-expo.png" 
	 title="Exposição: Remodelando a História"
	 text="De 02/09 a 31/10 no Centro Cultural da FGV."
	 link-title="Saiba mais" 
	 link-url="/RHR-2014/indexPt.html"/>
    <img src="/images/banner-praia.jpg" 
	 title="Por que estudar matemática aplicada?"
	 text="Descubra por que esta é uma área interessante."
	 link-title="Leia mais"
	 link-url="/about/porque-estudar-matematica.html" />
    <div id="banner-caption">
      <h1 id="banner-caption-title"></h1>
      <p id="banner-caption-text"></p>
      <p id="banner-caption-link"></p>
    </div>
  </div>
</div>
