<div id="banner">
  <div id="slideshow" class="pics">
    <div id="nav"></div>
    <img src="/images/banner-seminario.jpg" 
	 title="Seminário EMAp"
	 text="Confirma o próximo tema"
	 link-title="Clique aqui!"
	 link-url="/seminars/index.html"/>
    <img src="/images/banner-visualization.jpg" 
	 title="Workshop Interactive Data Visualization"
	 text="Submissão de pôster até 10/05"
	 link-title="Saiba mais" 
	 link-url="http://emap.fgv.br/WVC-2013/index.html" />
    <img src="/images/banner-praia.jpg" 
	 title="Por que estudar matemática aplicada?"
	 text="Descubra por que esta é uma área interessante."
	 link-title="Leia mais"
	 link-url="/about/porque-estudar-matematica.html" />
    <div id="banner-caption">
      <h1 id="banner-caption-title"></h1>
      <p id="banner-caption-text"></p>
      <p id="banner-caption-link"></p>
    </div>
  </div>
</div>
