<div class="block5"><img src="/images/fgv1.gif" alt=""/></div>
<div class="block4 block4-2">
  <a href="/porque-estudar-na-emap.html">Por que estudar na EMAp?</a>
</div>
<div class="block4 block4-1">
  <a href="/porque-estudar-matematica.html">Por que estudar matemática aplicada?</a>
</div>
<h3>Conheça a FGV</h3>
<p>A FGV é um centro de ensino de
  qualidade e excelência... <a href="http://www.fgv.br" class="link3">saiba mais</a></p>
<h3>Localização</h3>
<div class="map"><img src="/images/map.jpg" alt="" /></div>
<p><a href="#" class="link3">clique para ver o mapa ampliado </a></p>

