
<div class="nav">
<div class="table">

<ul class="select"><li><a href="/"><b>home</b></a></li></ul>
<ul class="select"><li><a
  href="/about.html"><b>sobre</b></a></li></ul>
<ul class="select"><li><a href="/seminars.html"><b>seminários</b></a></li></ul>  
<ul class="select"><li><a href="/equipe.html"><b>equipe</b></a></li></ul>
<ul class="select"><li><a href="#"><b>graduação</b></a>
<div class="select_sub">
  <ul class="sub">
    <li><a href="/graduacao/descricao.html">descrição</a></li>
    <li><a href="/graduacao/disciplinas.html">disciplinas</a></li>
  </ul>
</div>
</li>
</ul>

<ul class="select"><li><a href="#"><b>pós-graduação</b></a>
<div class="select_sub">
  <ul class="sub">
    <li><a href="/pos-graduacao/descricao.html">descrição</a></li>
    <li><a href="/pos-graduacao/disciplinas.html">disciplinas</a></li>
    <li><a href="/pos-graduacao/selecao.html">seleção</a></li>
  </ul>
</div>
</li>
</ul>

</div>
</div>
