<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'list',
  rpp: 30,
  interval: 30000,
  title: 'EMAp no Twitter',
  subject: '',
  width: 300,
  height: 500,
  theme: {
    shell: {
      background: '#b8c0c4',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#383138',
      links: '#1f5f7b'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    behavior: 'all'
  }
}).render().setList('fgv_emap', 'friends').start();
</script>

