---
layout: archive-meta
---

{% if page.title == "blog" %}

<h1>Notícias da EMAp</h1>

{% endif %}

{% if page.title == "seminars" %}

<h1>Seminários da EMAp</h1>

<p>Nos Seminários EMAp, palestrantes convidados, entre pesquisadores,
professores, alunos e profissionais do mercado, apresentam trabalhos
científicos e projetos desenvolvidos, além de discutirem as novidades
e temas da área. Os seminários ocorrem todas as quintas-feiras,
geralmente às 16h, no edifício sede da FGV, em Botafogo, Rio de
Janeiro.</p>

<p>Para receber informações dos próximos seminários, inscreva-se
no <a href="https://groups.google.com/forum/?fromgroups#%21forum/seminarios-emap"
target="_blank">grupo seminarios-emap</a>.</p>

{% endif %}

<ul class="posts">
  {% for post in page.posts %}
    <li>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

