---
layout: page
---

<body class="post">
  <div align="center" id="container">
    <div id="wrapper">
      
      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

	<div class="breadcrumbs">
	  <a href="/">Home</a>Sobre a EMAp
	</div>

	<div class="clear">
	  <div id="leftstrip1">

	    <div id="post_full">
	      {{ content }}
	    </div>

	  </div>

	  <div id="rightstrip1">
	    <h3 class="top-space">Tags</h3>
	    <ul class="list-type2">	    
	    {% for archive in site.archives %}
  	      {% if archive.type == "tag" %}
	      <li><a href="{{ archive.url }}">{{ archive.title }} ({{ archive.posts.size }})</a></li>
	      {% endif %}
	    {% endfor %}
	    </ul>
	    
	    <h3>Arquivo</h3>
	    <ul class="list-type2">	    
	    {% for archive in site.archives %}
  	      {% if archive.type == "year" %}
	      <li><a href="{{ archive.url }}">{{ archive.date | date: "%Y" }} ({{ archive.posts.size }})</a></li>
	      {% endif %}
	    {% endfor %}
	    </ul>	      
	  </div>

	</div>
	
	<!--Footer Starts Here-->
	{% include footer.html %}
	
      </div>
    </div>
</body>
