---
layout: blog
---

<h1> {{ page.title }} </h1>


{% for post in paginator.posts %}
<div class="post">
  <h2><a href="{{ post.url }}"> {{ post.title }} </a></h2>
  {% if post.categories contains 'blog' %}
    <p> {{ post.content | truncatewords: 35 }} <a href="{{ post.url }}" class="link1">mais</a></p>
  {% elsif post.categories contains 'seminars' %}
    <p class="text-type1"> {{ post.date | date_to_long_string }} <a href="{{ post.url }}" class="link1">mais</a></p>
  {% endif %}
</div>
{% endfor %}

{{ paginator | pager_links }}


