---
layout: page
---

<body class="disciplina">
  <div align="center" id="container">
    <div id="wrapper">

      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

	<div class="breadcrumbs">
	  <a href="#">Home</a>Sobre a EMAp
	</div>
	
	<div class="clear">
	  <div id="leftstrip1">
	    <div id="post_full">
	      <h1> {{ page.title }} </h1>
	      
	      {{ content }}
	    </div>
	  </div>

	  <div id="rightstrip1">
	    {% capture secao %}widget-disciplinas-{{ page.section }}.html{% endcapture %}
	    {% include secao %}
	  </div>
	</div>
      </div>

      <!--Footer Starts Here-->
      {% include footer.html %}

    </div>
  </div>
</body>
