---
layout: page
---

<body class="home">
  <div align="center" id="container">
    <div id="wrapper">

      <!--Header Starts Here-->
      {% include header.html %}
      
      <!--Content Starts Here-->
      <div id="content">
	<div id="banner">
	  <div class="block-1">
	    <div class="block block1">
	      <a href="/porque-estudar-matematica.html">Por que estudar matemática aplicada?</a>
	    </div>
	    <div class="block block2">
	      <a href="/porque-estudar-na-emap.html">Por que estudar na EMAp?</a>
	    </div>
	    <div class="block block3">
	      <a href="/pesquisa.html">Pesquisas em curso na EMAp</a>
	    </div>
	  </div>
	</div>

	<div class="clear">
	  <div id="leftstrip">
	    {{ content }} 
	  </div>

	  <div id="rightstrip">
	    <div class="block1"><img src="/images/fgv.gif" alt=""></div>
	    <div class="block2">
	      {% include twitter.html %}
	    </div>
	    <div class="block2">
	      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Femap-fgv&amp;width=299&amp;height=188&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=true&amp;header=false&amp;appId=240201076047364" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:299px; height:188px;" allowtransparency="true"></iframe>
	    </div>
	    <div class="block3">
	      <div class="title">
		<h2>Mais EMAp na web</h2>
	      </div>
	      <a href="#" class="link1">Delicious »</a>
	      <a href="#" class="link2">Mendeley »</a>
	    </div>
	  </div>
	  
	</div>
      </div>
      <!--Content Ends Here-->
      
      <!--Footer Starts Here-->
      {% include footer.html %}
      
    </div>
  </div>
</body>
