---
layout: page
---

<body class="home">
  <div align="center" id="container">
    <div id="wrapper">

      <!--Header Starts Here-->
      {% include header.html %}
      
      <!--Content Starts Here-->
      <div id="content">
	<div id="banner">
	  <div class="block-1">
	    <div class="block block1">
	      <a href="/porque-estudar-matematica.html">Por que estudar matemática aplicada?</a>
	    </div>
	    <div class="block block2">
	      <a href="/porque-estudar-na-emap.html">Por que estudar na EMAp?</a>
	    </div>
	    <div class="block block3">
	      <a href="/research/pesquisa.html">Pesquisas em curso na EMAp</a>
	    </div>
	  </div>
	</div>

	<div class="clear">
	  <div id="leftstrip">
	    {{ content }} 
	  </div>

	  <div id="rightstrip">

	    <div class="block2" style="text-align: center">
	      <a style="padding: 5px 5px 5px 5px;" 
		 href="http://vestibular.fgv.br/curso/curso-de-matematica-aplicada-rj/" title="Vestibular FGV">
		<img src="/images/vestibular-2013h.jpg" alt="Vestibular FGV"/></a>
	    </div>

	    <div class="block2">
	      {% include twitter.html %}
	    </div>

	    <div class="block3">
	      <div class="title">
		<h2>Mais EMAp</h2>
	      </div> 
	      <p><a href="http://emapvirtual.fgv.br/" target="_blank"><img src="/images/moodle.gif" width="100px"/></a></p>
	      <p><a href="http://facebook.com/emap.fgv/"
		    target="_blank">
		  <img src="/images/f_logo.png" width="50px"/></a></p>
	    </div>
	  </div>
	  
	</div>
      </div>
      <!--Content Ends Here-->
      
      <!--Footer Starts Here-->
      {% include footer.html %}
      
    </div>
  </div>
</body>
