---
layout: page
---

<body class="index-seminars {{ page.section }}">
  <div align="center" id="container">
    <div id="wrapper">

      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

		<div id="banner-inner">
		  <div class="block-1">
		    <div class="block1">
		      {{ page.title }}
		    </div>
		  </div>
		</div>

	<div class="clear">
	  <div id="leftstrip1">
	    <!--<h1>Seminários promovidos pela EMAp</h1>-->
	    
	    {{ content }}

	    <!-- 
	    <div class="pagination">
	      <p>1 a 10 de 45</p>
	      <ul>
	    	<li><a href="#">início</a></li>
	    	<li><a href="#">anterior</a></li>
	    	<li class="link2"><a href="#">próxima</a></li>
	    	<li class="link2"><a href="#">fim</a></li>
	      </ul>
	    </div>
	    -->
	  </div> 

	  <div id="rightstrip1">
	    {% include inner-right.html %}
	    <h3>RSS</h3>
	    <p><a href="/seminarios.xml" class="rss">Assine nosso feed</a></p>
	  </div>
	</div>
      </div>

      <!--Footer Starts Here-->
      {% include footer.html %}

    </div>
  </div>
</body>
