---
layout: page
---

<body class="inner-child">
  <div align="center" id="container">
    <div id="wrapper">

      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

	<div class="breadcrumbs">
	  <a href="#">Home</a>Sobre a EMAp
	</div>
	
	<div class="clear">
	  <div id="leftstrip1">
	    <div id="post_full">
	      <h1 class="headline1"> {{ page.title }} </h1>
	      
	      {{ content }}
	    </div>
	  </div>

	  <div id="rightstrip1">
	  {% for myi in page.incluir %}
	    {% include myi %}
          {% endfor %}
	  {% include inner-right.html %}
	  </div>
	</div>
      </div>

      <!--Footer Starts Here-->
      {% include footer.html %}

    </div>
  </div>
</body>
