---
layout: page
---

<body class="abre-secao">
  <div align="center" id="container">
    <div id="wrapper">

      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

	<div id="banner2">
	  <div class="block-1">
	    <div class="block1">
	      {{ page.title }}
	    </div>
	  </div>
	</div>

	<div class="clear">
	  <div id="leftstrip1">
	    <div id="post_full">
	      {{ content }}
	    </div>
	  </div>

	  <div id="rightstrip1">
	    <div class="block5"><img src="/images/fgv1.gif" alt=""></div>
	    <div class="block4 block4-2">
	      <a href="/porque-estudar-na-emap.html">Por que estudar na EMAp?</a>
	    </div>
	    <div class="block4 block4-1">
	      <a href="/porque-estudar-matematica.html">Por que estudar matemática aplicada?</a>
	    </div>
	    <h3>Conheça a FGV</h3>
	    <p>Chamada Lorem ipsum dolor sit amet, consectetuer adipisng elit <a href="#" class="link3">saiba mais </a></p>
	    <h3>Localização</h3>
	    <div class="map"><img src="/images/map.jpg" alt=""></div>
	    <p><a href="#" class="link3">clique para ver o mapa ampliado </a></p>
	  </div>
	</div>
      </div>

      <!--Footer Starts Here-->
      {% include footer.html %}

    </div>
  </div>
</body>
