<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Alexandre Rademaker" />
    <meta name="keywords" content="Matemática aplicada, matemática, FGV, FGV-RJ, graduação, pós-graduação, pesquisa" />
    <meta name="description" content="EMAp/FGV - Escola de Matemática Aplicada"/>
    <meta http-equiv="Cache-Control" CONTENT="max-age=3600, must-revalidate" />
    <meta name="robots" content="all" />  
    <meta name="language" content="English"/>
    <title>EMAp/FGV - Escola de Matemática Aplicada</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18960726-2']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  {{ content }}

</html>

