---
layout: page
---

<body class="abre-secao">
  <div align="center" id="container">
    <div id="wrapper">

      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

	<div class="breadcrumbs">
	  <a href="#">Home</a>Sobre a EMAp
	</div>
	
	<div class="clear">
	  <div id="leftstrip1">
	    <div id="post_full">
	      {{ content }}
	    </div>
	  </div>

	  <div id="rightstrip1">
	    <div><img src="/images/{{ page.picture }}" alt="" /></div>
	    <h3>Conheça a FGV</h3>
	    <p>A FGV é um centro de ensino de
	    qualidade e excelência... <a href="http://www.fgv.br" class="link3">saiba mais</a></p>
	    <h3>Localização</h3>
	    <div class="map"><img src="/images/map.jpg" alt="" /></div>
	  </div>
	</div>
      </div>

      <!--Footer Starts Here-->
      {% include footer.html %}

    </div>
  </div>
</body>
