---
layout: page
---

<body class="people">
  <div align="center" id="container">
    <div id="wrapper">

      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

	<div class="breadcrumbs">
	  <a href="#">Home</a>Sobre a EMAp
	</div>
	
	<div class="clear">
	  <div id="leftstrip1">
	    <div id="post_full">
	      {{ content }}
	    </div>
	  </div>

	  <div id="rightstrip1">
	    <img src="/images/{{ page.picture }}" alt="Foto do professor" class="people_picture"/>
	    <h3>Equipe</h3>
	    <p>Conheça o restante da equipe EMAp <a href="/equipe.html" class="mais">saiba mais</a></p>

	  </div>
	</div>
      </div>

      <!--Footer Starts Here-->
      {% include footer.html %}

    </div>
  </div>
</body>
