---
layout: page
---

<body class="post">
  <div align="center" id="container">
    <div id="wrapper">
      
      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

	<div class="breadcrumbs">
	  <a href="/">Home</a>Sobre a EMAp
	</div>

	<div class="clear">
	  <div id="leftstrip1">
	    <h1 class="headline1"> {{ page.title }} </h1>
	    
	    <h3> {{ page.date | localize: "%d %B %Y" }} <span>· {{ page.author }} </span></h3>
	    
	    <div id="post_full">
	      {{ content }}
	    </div>
	    
	    <div id="meta-info">Tags: 
                {% for tag in page.tags %}
		  <a href="/tag/{{ tag }}">{{ tag }}</a>{% if forloop.index < forloop.length %},{% endif %}
		{% endfor %}

		<script type="text/javascript">
		  var switchTo5x=false;</script>
		<script type="text/javascript"
			src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">
		  stLight.options({publisher:'36073283-96ad-4b8d-8d04-0cb6636cc4d1'});</script>
	      <p class="sharing">
		<span  class='st_twitter_large' ></span>
		<span  class='st_facebook_large' ></span>
		<span  class='st_email_large' ></span>
	      </p>
	    </div>
	  </div>

	  <div id="rightstrip1">
	    <h3 class="top-space">Tags</h3>
            {% tag_cloud %}

	    <h3>Arquivo</h3>
	    <ul class="list-type2">
	      {% for year in site.years %}                                                                                    
	      <li>{{ year.first.first.date | date: "%Y" }}
		<ul>
		  {% for month in year %}
		  <li><a href="/{{ month.first.date | date: '%Y'}}/{{ month.first.date | date: '%m'}}/">
		      {{ month.first.date | localize: "%B" }} ({{month.size}})</a></li>
		  {% endfor %}
		</ul>
              </li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
	
	<!--Footer Starts Here-->
	{% include footer.html %}
	
      </div>
    </div>
</body>
