---
layout: page
---

<body class="post">
  <div align="center" id="container">
    <div id="wrapper">
      
      <!--Header Starts Here-->
      {% include header.html %}

      <!--Content Starts Here-->
      <div id="content">

	<div class="breadcrumbs">
	  <a href="#">Home</a>Sobre a EMAp
	</div>

	<div class="clear">
	  <div id="leftstrip1">
	    <h1 class="headline1"> {{ page.title }} </h1>
	    
	    <h3> {{ page.date | date_to_long_string }} <span>· {{ page.quem }} </span></h3>
	    
	    <div id="post_full">
	      {{ content }}
	    </div>
	    
	    <div id="meta-info">
	      <p class="categories">Arquivado em: {{ page.tags | array_to_sentence_string }}</p>
	      <!-- <a href="#">notícias,</a> <a href="#">eventos,</a> <a href="#">parcerias</a> --> 
	      <p class="sharing">
		<a href="#"><img src="/images/ic-facebook.gif" alt=""></a>
		<a href="#"><img src="/images/ic-twitter.gif" alt=""></a>
		<a href="#"><img src="/images/ic-message.gif" alt=""></a>
		<a href="#"><img src="/images/ic-doc.gif" alt=""></a>
	      </p>
	    </div>
	  </div>

	  <div id="rightstrip1">
	    <h3 class="top-space">Categorias</h3>
	    <ul class="list-type1">
	      <li><a href="#">notícias</a></li>
	      <li><a href="#">eventos</a></li>
	      <li><a href="#">vídeos</a></li>
	      <li><a href="#">parcerias</a></li>
	    </ul>
	    <h3>Arquivo</h3>
	    <ul class="list-type2">
	      <li>
		<a href="#">2011</a>
		<ul>
		  <li><a href="#">novembro</a></li>
		  <li><a href="#">outubro</a></li>
		  <li><a href="#">setembro</a></li>
		  <li><a href="#">agosto</a></li>
		</ul>
	      </li>
	    </ul>
	  </div>
	</div>
	
	<!--Footer Starts Here-->
	{% include footer.html %}
	
      </div>
    </div>
</body>
